<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
<table class="table table-striped table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Points</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${studentList.empty}">
        <td colspan="4"> There aren't student</td>
    </tr>
    <tr th:each="list : ${studentList}">
        <td><span th:text="${list.id}"> Id</span></td>
        <td><span th:text="${list.name}">Name</span></td>
        <td><span th:text="${list.surname}"> Surname</span></td>
        <td><span th:text="${list.points}"> Points</span></td>
    </tr>
    </tbody>
</table>
<br>
<a class="btn btn-primary" th:href="@{/start}" href="http://localhost:8080/begin" role="button">Begin</a>

</body>
</html>