<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <title>Randomize</title>
</head>

<body>
<div id="side_bar" class="clearfix">
    <h1 style="float: left;">Randomize greets you, friend</h1>
    <a href="#" class="btn btn-outline-dark btn-lg" role="button"
       style="float: right; position: relative; top: 3px; right: 10px;">Start the game</a>
</div>

<table class="table table-striped table-dark table-hover" style="table-layout:fixed">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Points</th>
        <th scope="col">Ask</th>
        <th scope="col">Answer</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
            <input type="text" class="form-control" placeholder="Enter a grade" aria-label="Username"
                   aria-describedby="basic-addon1">
        </td>
        <td>
            <input type="text" class="form-control" placeholder="Enter a grade" aria-label="Username"
                   aria-describedby="basic-addon1">
        </td>

    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>
            <input type="text" class="form-control" placeholder="Enter a grade" aria-label="Username"
                   aria-describedby="basic-addon1">
        </td>
        <td>
            <input type="text" class="form-control" placeholder="Enter a grade" aria-label="Username"
                   aria-describedby="basic-addon1">
        </td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        <td>
            <input type="text" class="form-control" placeholder="Enter a grade" aria-label="Username"
                   aria-describedby="basic-addon1">
        </td>
        <td>
            <input type="text" class="form-control" placeholder="Enter a grade" aria-label="Username"
                   aria-describedby="basic-addon1">
        </td>
    </tr>
    </tbody>
</table>
<div style="text-align: center">
    <a href="#" class="btn btn-outline-dark" role="button"
       style="position: relative; top: -10px">Start the game</a>
</div>

</body>
</html>